nextflow.enable.dsl=2

// read file for Run_FASTQC process
params {
    reads = "data/raw_reads/*_{1,2}.fastq.gz"
}

// read file for VEP annotation process
params {
    input_vcf = "results/variants/*.filtered.vcf"
}


process {
    executor = 'local'
    cpus = 2
    memory = '3 GB'
    time = '4h'

    withName: 'RUN_FASTQC' {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
        memory = '3 GB'
        time = '8h'
    }
    withName:VEP_ANNOTATION {
        container = 'ensemblorg/ensembl-vep'  // or use local if VEP is installed directly
    }    
}

docker {
    enabled = true
}
